html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  letter-spacing: 0.05em;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin: 0;
}

a {
  text-decoration: none;
}
