.footer {
  background-color: rgb(45, 151, 239);
  box-sizing: border-box;
  padding: 3rem 0;

  .footer-wrapper {
    width: 120rem;
    max-width: 100%;
    margin: 0 auto;
    @media (max-width: 1300px) {
      padding: 0 3rem;
    }
    @media (max-width: 768px) {
      padding: 0 1.5rem;
    }
    p {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 100;
    }
    a {
      color: #fff;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
